// Utility Color Classes
// http://coloreminder.com/c0c0c0
$silver: (
  "darken-4":   #333333,
  "darken-3":   #666666,
  "darken-2":   #808080,
  "darken-1":   #999999,
  "base":       #C0C0C0,
  "lighten-1":  #CCCCCC,
  "lighten-2":  #E6E6E6
);
// http://coloreminder.com/009900
$green: (
  'darken-1':   #006600,
  'base':       #009900
);
// http://coloreminder.com/cc0000
$red: (
  'darken-1':   990000,
  'base':       #cc0000,
  'lighten-1':  #ff0000
);
$orange: (
  'base':       #ffa500
);

$colors: (
  'green'   : $green,
  'orange'  : $orange,
  'red'     : $red,
  'silver'  : $silver,
);

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
