// Utility Color Classes
// http://coloreminder.com/c0c0c0
$silver: (
  "darken-2":   #808080,
  "darken-1":   #999999,
  "base":       #C0C0C0,
  "lighten-1":  #CCCCCC,
  "lighten-2":  #E6E6E6
);
$colors: (
  "silver": $silver
);

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
