// ==========================================================================
// HeyPublisher variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Typography
// 3. Tables
// ==========================================================================

// 1. Colors
// ==========================================================================
$border-color: color("silver", "base") !default;

//  2. Typography
// ==========================================================================
$h2-fontsize: 1.6em !default;
$h3-fontsize: 1.2em !default;
$h4-fontsize: 1.1em !default;
$th-fontsize: 1.1em !default;

// 3. Tables
// ==========================================================================
$table-border: 1px solid $border-color !default;
